 body {
            background-color: #f5f5f5;
        }
        header {
            background: linear-gradient(to right, #000a16, #02203d);
            color: white;
            padding: 80px 0;
        }
        .profile-img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid white;
        }
        .project-card:hover {
            transform: scale(1.03);
            transition: 0.3s;
        }
        footer {
            background: #222;
            color: #ccc;
            padding: 20px 0;
        }